/* geral */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
    border:none;
    color: #323232;
}

input, label{
    display: block;
    width: 100%;
   
}

input:focus, label:focus {
    outline: none;

}

a{
    color: #e60084
}

body {
    padding-top: 5vh;
}


